body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #305ba6
}

.App{
  background: #4c7fd6;
  margin: 20px auto;
  width: 90%;
  max-width: 700px;
  color: #eee;
}

.navbar{
  padding: 10px 20px;
  text-align: center;
  background: #376cc8
}

.navbar h1{
  margin: 10px 0;
}


.car-list{
  margin: 20px;
}

.car-list ul{
  padding: 0;
  list-style-type: none;
}

.car-list li{
  background: #4d92e6;
  border-radius: 4px;
  padding: 10px;
  /*cursor: pointer;*/
  margin: 10px 0;
}

.car-list .modelo{
  font-weight: bold;
  color: #fff;
  font-size: 1.2em;
}

.car-list .marca{
  font-size: 0.9em;
  color: #ddd;
}

.empty{
  margin: 20px;
  text-align: center;
}

.deletar-veiculo {
  color: red;
  cursor: pointer;
}